{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

    <div style="margin:80px" class="container3">
        <div class="col-md-9 text-center">
            <h1>Контакты</h1>
            <h4>Напишите мне, если у вас есть вопросы</h4>
        </div>
    </div>
    <form method="POST" class="field">
        {% csrf_token %}
        <div>{{ form.first_name }}</div>
        <div>{{ form.email_address }}</div>
        <div>{{ form.message }}</div>
        <div>{{ form.captcha }}</div>

        {#            <div  >{{ form.as_p }}</div>#}
        <button type="submit">Отправить</button>
    </form>
    </div>
    </div>

{% endblock %}

